body {
    background: #f4f7fb;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    background: linear-gradient(90deg, #0d6efd, #4f8cff);
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,.08);
}

.card:hover {
    transform: translateY(-4px);
    transition: .3s;
}

.btn-primary {
    border-radius: 10px;
}

.table {
    background: white;
}

.table th {
    background: #0d6efd;
    color: white;
}

.badge {
    font-size: 14px;
}

.progress {
    height: 25px;
    border-radius: 30px;
}

.progress-bar {
    font-weight: bold;
}

.alert {
    border-radius: 10px;
}

input,
select,
textarea {
    border-radius: 10px !important;
}

footer {
    margin-top: 50px;
    text-align: center;
    color: gray;
}