<footer class="text-center mt-5 mb-3 text-muted">

    <hr>

    <p>
        © 2026 PocketWise • Smart Expense Tracker
    </p>

</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>